@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto', serif;
    font-size: 14px;
    padding-bottom: 2px;
}

.image {
    height: 40px;
    width: 40px;
    margin-right: 4px;
}

.game-instruction {
    line-height: 2.6;
}
.form {
    line-height: 1.6;
}
.ins {
    display: flex;
    align-items: center;
}
.underline {
    text-decoration: underline;
}
